.hospital-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    width: 800px;
    margin-bottom: 20px;
}

.hospital-main {
    padding: 24px;
    display: flex;
    gap: 14px;
}

.hospital-img-container {
    background-color: #8CCFFF;
    width: 124px;
    height: 124px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.badge {
    position: relative;
    top: -47px;
    left: 100px;
}

.u-d-flex {
    display: flex;
    gap: 8px;
    align-items: center;
}

.u-d-flex p {
    margin: 0;
}

.u-pos-has {
    padding: 8px;
}

.thumbs {
    background-color: #00A500;
    border-radius: 3.5px;
    display: flex;
    width: fit-content;
    padding: 4.5px 7.49px 4px 10.8px;
    gap: 3px;
}

.thumbs-count {
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    text-align: left;
    color: #FFFFFF50;
}

.thumbs-container {
    border-top: 2px dashed #E8E8F0;
    width: fit-content;
    padding-top: 17px;
}

.hospital-card-info {
    padding: 40px 0 0 16px;
}

.uv2-spacer {
    padding: 12px 0;
}

.hosp-title {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: #14BEF0;
}

.hosp-location {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.6px;
    text-align: left;
    color: #414146;
}

.hosp-text {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: left;
    color: #414146;
}

.hosp-text-2 {
    margin-top: 4px;
}

.hosp-free {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.6px;
    text-align: left;
    color: #02A401
}

.hosp-fee {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: left;
    color: #787887;
    text-decoration: line-through;
}

.u-d-flex-2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: flex-end;
    padding: 4px;
}

.u-d-flex-3 {
    margin-top: 32px;
    height: 100%;
    display: flex;
    align-self: flex-start;
    padding: 4px;
    gap: 14px;
}

.available-today {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    text-align: center;
    color: #01A400;
}

.book-free {
    background-color: #2AA7FF;
    color: white;
    border: 1px solid #14BEF0;
    border-radius: 4px;
    width: 212px;
    height: 40px;
}

.slots button {
    width: 48px;
    height: 48px;
    background-color: #00000000;
    border: 1px solid #E0E0E4;
    border-radius: 24px;
    color: #2AA7FF;
    font-weight: 700;
}

.solid-line {
    border: 1px solid #F0F0F5;
    width: 96%
}

.success-div {
    height: 5px;
    background-color: #00A500;
    width: 45px;
    border-radius: 3.5px;
    margin-bottom: 10px;
}

.bookings-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slots {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.slots-dates-list {
    display: flex;
    width: 84%;
}

.slots-date {
    text-align: center;
    padding: 8px 16px;
    border-bottom: 4px solid #F0F0F5;
    width: 33.33%;
}

.slots-date-blue {
    border-bottom: 4px solid #2AA7FF;
}

.date-top {
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    text-align: center;
    color: #414146;
    margin: 0;
}

.date-bottom {
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: center;
    color: #01A400;
    margin: 0;
}

.bookings-details {
    width: 100%;
}

.slots-buttons-container {
    display: flex;
    gap: 10px;
    /* justify-content: flex-start; */
    padding: 16px 0px;
    align-items: center;
    width: 100%;
    /* margin: 16px; */
}

.slots-buttons {
    display: flex;
    gap: 10px;
}

.slots-buttons button {
    background-color: #00000000;
    border: 1px solid #2AA7FF;
    border-radius: 3px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: center;
    color: #2AA7FF;
    width: 84px;
    height: 31.59px;
}

.session-type {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: left;
    width: 142px;
    text-align: center;
}

.bottom-border {
    border-bottom: 1px solid #F0F0F5;
}

.slots-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
}

.booking-time {
    border: 1px solid #2AA7FF;
    color: #2AA7FF;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: center;
    padding: 7px 11px;
    border-radius: 3px;
}

.booking-date {
    border: 1px solid #00A500;
    color: #007100;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.6px;
    text-align: center;
    padding: 7px 11px;
    border-radius: 3px;
}