.img-card {
    display: flex;
    justify-content: center;
    background: linear-gradient(144.2deg, #E1F3FF 0%, #2AA7FF 100%);
    width: 370px;
    height: 415px;
    padding: 32px 0 0 0;
    border-radius: 50% 50% 0 0;
}

.img-card-container {
    background-color: white;
    padding: .25rem;
    width: fit-content;
    border-radius: 50% 50% 0 0;
    /* box-shadow: 0px 15px 55px -10px #d20d0d17; */
    box-shadow: 0px 15px 55px -10px #00000017;
    /* margin: 15px; */
}

.medical-specialist-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 200px; */
    width: fit-content;
}

.specialist-name {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    color: #1B3C74;
    margin: 0;
}

.specialist-title {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
    color: #2AA7FF;
    margin: 0;
}