.specialisation-card-container {
    width: 225px;
    background-color: white;
    margin: 15px;
    padding: 22px 70px 22px 70px;
    border-radius: 10px;
    gap: 20px;
    box-shadow: 0px 34px 44px 0px #D5DBE470;
}


.specialisation-card-container img {
    width: 80px;
    height: 80px;
}