.stats-container {
    position: relative;
    top: 300px;
    background: linear-gradient(81deg, #E7F0FF 9.01%, rgba(232, 241, 255, 0.47) 89.11%);
    display: flex;
    align-items: center;
    
}

.stats-left {
    width: 50%;
    padding: 64px;
}

.stats-right {
    width: 50%;
    padding: 32px;
}

.stats-right img {
    width: 242px;
    height: 304px;
}

.stats-right .second {
    position: relative;
    top: 40px;
}

#stats-left-1 {
    font-family: Poppins;
font-size: 17px;
font-weight: 600;
line-height: 18px;
text-align: left;
color: var(--primary)
}

#stats-left-2 {
    font-family: Poppins;
font-size: 48px;
font-weight: 600;
line-height: 67px;
text-align: left;
color: #1B3C74;
}

#stats-left-3 {
    font-family: Inter;
font-size: 17px;
font-weight: 500;
line-height: 40.8px;
text-align: left;
color: #77829D;
}

.stats-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 220px;
    height: 272px;
    align-items: center;
    justify-content: space-between;
    margin: 8px;
    padding: 24px;
    box-shadow: 0px 15px 45px -5px #00000012;
}

.stats-card img {
    width: 100px;
    height: 100px;
}

.stats-card-value {
    font-family: Poppins;
font-size: 48px;
font-weight: 600;
line-height: 48px;
text-align: center;
color: #1B3C74;
}

.stats-card-text {
    font-family: Poppins;
font-size: 18px;
font-weight: 500;
line-height: 28px;
text-align: center;
color: #77829D;
}

.stats-row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 8px 0;
}

@media screen and (max-width: 1030px) {
    .stats-row {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .stats-right .second {
        position: relative;
        top: 0px;
    }

    .stats-right {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}